<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <h1>Server Side Rendering</h1>

    <ul>
      <% response.forEach(element => { %>
      <li><%= element.urlShortId %></li>
      <% }); %>
    </ul>
  </body>
</html>
